body {
    color: white;
    /*background-color: darkblue;*/
    background-color: white;
}

.resultado {
    color: yellow;
    background-color: darkred;
}

.listado {
    color: black;
    background-color: lightblue;
  }
  

