body {
    color: white;
    background-color: darkblue;
    /*background-color: yellowgreen*/;
}

.resultado {
    color: yellow;
    background-color: darkred;
}

.listado {
    color: black;
    background-color: lightblue;
  }
  

